<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fizzer.lib">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_pig"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FizzerLib">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.WidgetPage"
            android:label="WidgetPage" />
        <activity
            android:name=".widget.CircleProgressBarPage"
            android:label="CircleProgressBar" />
        <activity
            android:name=".lib.LibPage"
            android:label="LibPage" />
        <activity
            android:name=".widget.RadiusCardViewPage"
            android:label="RadiusCardViewPage" />
        <activity
            android:name=".widget.LetterIndexBarPage"
            android:label="LetterIndexBarPage" />

        <activity
            android:name=".widget.RecyclerView.RecyclerViewPage"
            android:label="玩转RecyclerView" />

        <activity
            android:name=".widget.ItemValuePage"
            android:label="ItemValuePage" />
    </application>

</manifest>